---
import AepListEntry from "./AepListEntry.astro";

const {category} = Astro.props;
---

<div id="aep-list-container">
  {category.items.map((aep) => (
    <AepListEntry title={aep.title} href={"/" + aep.id} id={aep.id.toString()} state={aep.status} />
  ))}
</div>
