---
// An altered version of astrojs/starlight/components/LinkCard

import type { HTMLAttributes } from 'astro/types';

interface Props extends Omit<HTMLAttributes<'a'>, 'title'> {
	title: string;
	description?: string;
}

const { title, id, state, ...attributes } = Astro.props;
---

<div class="grid grid-cols-[1fr_auto] gap-2 border border-gray-500 rounded-lg p-4 shadow-sm relative hover:bg-gray-100 dark:hover:bg-gray-700 hover:border-gray-700 dark:hover:border-gray-200" data-status={state}>
	<span class="flex">
        <span class="text-gray-300 leading-6 w-12 text-right pr-4" set:html={id} />
		<a class="no-underline leading-[var(--sl-line-height-headings)] relative before:content-[''] before:absolute before:inset-0" {...attributes}>
			<span class="text-black dark:text-white font-semibold text-lg pr-4" set:html={title} />
		</a>
        {state == "reviewing" && <span class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10">Reviewing</span>}
	</span>
</div>