---
import sideBar from "../../generated/full_aeps.json";
import AepListEntry from "./AepListEntry.astro";

const {label} = Astro.props;
---

{
  sideBar.filter((item) => item.label == label).map((item) => (
    <div>
            {item.items.map((aep) => (
                <AepListEntry title={aep.title} href={"/" + aep.slug} id={aep.id.toString()} state={aep.status} />
            ))}
    </div>
  ))
}
