---
import editionsConfig from '../../aep-editions.json'
import {getEditionFromPath, getVersionedPath} from '../utils/versions'

const currentEdition = getEditionFromPath(editionsConfig, Astro.url.pathname)
const latestEdition = editionsConfig.editions.find(e => e.folder === '.')

const isOlderVersion = currentEdition && currentEdition.folder !== '.'
const latestUrl = latestEdition ? getVersionedPath(editionsConfig, Astro.url.pathname, latestEdition) : null
---
{
  isOlderVersion && (
  <div>
      This content is for {currentEdition.name}. Switch to the
    {/* prettier-ignore */}
      <a href={latestUrl}>latest version</a>
      for up-to-date documentation.
  </div>
    )
  }
<style>
    div {
        background-color: var(--sl-color-orange-low);
        box-shadow: var(--sl-shadow-sm);
        color: var(--sl-color-orange-high);
        line-height: var(--sl-line-height-headings);
        padding: var(--sl-nav-pad-y) var(--sl-nav-pad-x);
        text-align: center;
        text-wrap: balance;
    }

    div a {
        color: var(--sl-color-orange-high);
    }
</style>
