---
const props = Astro.props.entry;

function formatDate(date: Date): string {
  const options: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "long",
    day: "numeric",
  };

  return date.toLocaleDateString(undefined, options);
}

function formatState(value: string | undefined | null): string {
  if (!value) return "";
  return value.charAt(0).toUpperCase() + value.slice(1);
}

const depth = 0;
---
{
  props.data.isAEP === true && (
    <div class="p-1 mb-2 rounded border-gray-950 border-2">
    <ul>
      <li>
        <span>Slug: </span><a class="inline" href={props.slug}>/{props.slug}</a>
      </li>
      <li><span>State: </span>{formatState(props.data.state)}</li>
      <li><span>Created: </span>{formatDate(props.data.created)}</li>
      <li><span>Updated: </span>{formatDate(props.data.updated ?? props.data.created)}</li>
      <li>
        <a class="inline"
          href={
            "https://github.com/infusionsoft/aeps/edit/main/aep/general/" +
            props.data.id.toString().padStart(4, "0") + "/aep.md.j2"
          }
        >
          Edit on GitHub
        </a>
      </li>
    </ul>
    </div>
  )
}

<style define:vars={{ depth }}>
  span {
    font-weight: 600;
  }
  ul {
    list-style: none;
    border-radius: 0.25rem;
    padding: 0;
    border-color: rgb(120 113 108);
  }
  .inline {
    display: inline;
    font-size: 1rem;
  }
</style>
